menuHoverColor = #d7d7d7
menuSelectedColor = #ccc
linkColor = #2A4EFF

transition()
  -moz-transition: arguments
  -webkit-transition: arguments
  -ms-transition: arguments
  transition: arguments

html
  background: url('/img/bg.png')

html, body
  padding: 0
  margin: 0

body
  font-family: "Segoe UI", "Droid Sans", sans-serif
  font-size: 14px

.clear
  clear: both

.content
  padding: 50px 10%

.menu
  height: 40px
  background: #ccc
  background: rgba(200, 200, 200, 0.3)

.menu-item
  display: inline-block
  vertical-align: top
  height: 40px
  line-height: 40px
  cursor: pointer
  padding: 0 10px
  
  &:hover
    background: menuHoverColor
  
  &.menu-item-selected
    background: menuSelectedColor

.content-data
  background: #eee

.about-title
  margin-top: 0

.link
  color: linkColor
  text-decoration: underline

.link:hover
  text-decoration: none

.lecture
  display: block
  padding: 10px
  cursor: pointer
  color: #000
  text-decoration: none

.lecture:hover
  background: menuHoverColor

.lecture-avatar
  width: 60px
  height: 60px
  float: left
  border: none

.lecture-content
  margin-left: 70px

.lecture-title
  font-size: 120%