menuHoverColor = #d7d7d7
menuSelectedColor = #ccc

transition()
  -moz-transition: arguments
  -webkit-transition: arguments
  -ms-transition: arguments
  transition: arguments

html
  background: url('/img/bg.png')

html, body
  padding: 0
  margin: 0

body
  font-family: "Segoe UI", "Droid Sans", sans-serif
  font-size: 14px

.content
  padding: 50px 10%

.menu
  height: 40px
  margin-bottom: 10px
  background: #ccc
  background: rgba(200, 200, 200, 0.3)

.menu-item
  display: inline-block
  vertical-align: top
  height: 40px
  line-height: 40px
  cursor: pointer
  padding: 0 10px
  
  &:hover
    background: menuHoverColor
  
  &.menu-item-selected
    background: menuSelectedColor
